/*colors*/
/*Rood #dd3038;*/
/*Oranje #e7613a;*/
/*Licht oranje #FDF4F2;*/
/*Zwart #292929 (voor standaard tekst);*/
/*Wit #FFFFFF;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Condensed:wght@300&display=swap');

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.reddit-logo{
    width: 250px;
}
.outer-container{
    display: flex;
    justify-content: center;
}
.inner-container{
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
}
.tile-section{
    display: block;
}
